@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=EB+Garamond&family=Kufam&family=Rock+Salt&display=swap');

.base {
    background-image: url("woodbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    color: black;
    opacity: 100%;
}

