body {
    margin: 0;
}

.App {
    text-align: center;
    background: #ffdc9b;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-image: url("bgimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    font-family: "Lucida Console", Courier, monospace;
    color: black;

}

.App-link {
    color: #09d3ac;
}

.title {
    font-size: 50px;
    color: black; 
}

.info {
    font-size: 20px;
    color: black; 
    list-style-type: circle;
}